{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LOGIN PAGE</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'stylel.css' %}">
</head>
<body>
<div class="main">
</a>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email :</label>
        <input type="text" id="email" name="email" placeholder="Enter your email id" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
    <p>Don't have an account? <a href= "{% url "register_page" %}" style="text-decoration: none;">Sign Up</a></p>
    <a href= "{% url 'forgot_password' %}" style="text-decoration: none;">Forgot Password ?</a>
</div>
</body>
</html>
