{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Other's Blog</title>
    <link rel="stylesheet" href="{% static 'others.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="others-blog">
        <h1>Other Users: Blog Lists</h1>
        <ul class="todo-list">
            {% for todo in other_users_todos %}
                <li class="todo-item">
                    <a href="{% url 'view_todo' todo.id %}" class="todo-link">
                        <div class="todo-info">
                            <p><span>Title: {{ todo.title }}</span></p>
                            <p><strong>Author:</strong> {{ todo.user.first_name }} {{ todo.user.last_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="back-button">
            <form method="POST" action="">
                {% csrf_token %}
                <li><a href="{% url 'index' %}">Back</a></li>
            </form>
        </div>
    </div>
</body>
</html>
