{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script>
        var otpTimeout = 30; // 30 seconds 

        function startOtpTimer() {
            var timerElement = document.getElementById('timer');
            var interval = setInterval(function() {
                otpTimeout--;
                timerElement.innerText = "Time left: " + otpTimeout + " seconds";

                if (otpTimeout <= 0) {
                    clearInterval(interval);
                    document.getElementById('resend-otp-form').style.display = 'block';
                    document.getElementById('otp-timer').style.display = 'none';
                }
            }, 1000);
        }

        window.onload = startOtpTimer;
    </script>
</head>
<body>
    <div class="main">
        <div class="container">
            <h2>Verify OTP</h2>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form method="POST" action="">
                {% csrf_token %}
                <label for="otp">OTP:</label>
                <input type="text" name="otp" id="otp" required>
                <div class="button-group">
                    <button type="submit">Enter</button>
                
            </form>
            <div id="otp-timer">
                <p id="timer">Time left: 30 seconds</p>
            </div> 
            
            <form id="resend-otp-form" method="POST" action="{% url 'resend_otp' %}" style="display: none;">
                {% csrf_token %}
                <button type="submit">Resend OTP</button>
            </form>
                </div>
        </div>
    </div>
</body>
</html>
